!!!Strict
%html{html_attrs(lang = 'de')}
  %head
    %title Welche Kalenderwoche ist es?
    %meta{'http-equiv' => "Content-Type",        :content => "text/html; charset=UTF-8"}
    %meta{'http-equiv' => "Content-Script-Type", :content => "application/x-javascript"}
    %meta{'http-equiv' => "Content-Style-Type",  :content => "text/css"}
    %meta{'http-equiv' => "Content-Language",    :content => "de"}
    %meta{'http-equiv' => "language",            :content => "de"}
    
    %meta{:name => "language",                   :content => "deutsch, de"}
    %meta{:name => "description",                :content => 'Sie können sich auch nie merken, welche Kalenderwoche gerade ist? Hier können sie jederzeit nachschauen'}
    %meta{:name => "keywords",                   :content => 'Kalenderwoche, Woche, KW'}
    %meta{:name => "copyright",                  :content => "Christoph Bünte"}
    %meta{:name => "author",                     :content => "Christoph Bünte"}
    %meta{:name => "revisit-after",              :content => "1 day"}
    %meta{:name => "robots",                     :content => 'follow index'}
    
    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => "#{root_url}favicon.ico"}
    
    = stylesheet_link_tag 'style'
    
  %body
    .container_16
      =yield
  