!!!Strict
%html{html_attrs(lang = 'de')}
  %head
    = yield :title
    %meta{'http-equiv' => "Content-Type",        :content => "text/html; charset=UTF-8"}
    %meta{'http-equiv' => "Content-Script-Type", :content => "application/x-javascript"}
    %meta{'http-equiv' => "Content-Style-Type",  :content => "text/css"}
    %meta{'http-equiv' => "Content-Language",    :content => I18n.locale}
    %meta{'http-equiv' => "language",            :content => I18n.locale}

    %meta{:name => "language",                   :content => I18n.locale}    
    %meta{:name => "copyright",                  :content => "Christoph Bünte"}
    %meta{:name => "author",                     :content => "Christoph Bünte"}
    %meta{:name => "revisit-after",              :content => "1 day"}
    %meta{:name => "robots",                     :content => 'follow index'}
    %meta{:name => "google-site-verification",   :content => "EvXR8EB3SQa-AJOKt5s06lERf-yj3dPj4zrI7PMt_lQ"}
    =yield :meta
    
    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => "#{root_url}favicon.ico"}
    
    = stylesheet_link_tag 'style'
    
  %body
    .container_16
      =yield
      
    = render :partial => 'shared/footer', :locals => {:week => @week, :year => @year}